.homeContainer {
    width: 100%;
    padding: 40px 0;
}

.searchWrapper {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.scrolledContainerWrapper {
    width: 80%;
    margin: 0 auto;
    overflow: scroll;
    max-height: 80vh;
}

.cardsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
